@import "reset.css";

@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Montserrat:wght@200;300;400;500;600&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "bs-momentum-greeting.css";
@import "bs-momentum-clock.css";
@import "bs-momentum-top-bar.css";
@import "bs-momentum-todo.css";

:root {
  --black: #091b26;
  --dark-jade: #2d595c;
  --ivory: #d9d6c7;
  --beige: #bfbdb4;
  --didot: "GFS Didot", serif;
  --mont: "Montserrat", sans-serif;
  --noto: "Noto Sans KR", sans-serif;
}

body {
  margin: 0px 0px 0px 0px;
}

.legend-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hidden {
  opacity: 0%;
  display: none;
}

.saturation {
  filter: saturate(0);
  animation: saturation 2s ease-in-out forwards;
}

#background img {
  position: fixed;
  top: 0%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: saturate(0);
}

@keyframes saturation {
  from {
    filter: saturate(0);
  }
  to {
    filter: saturate(1);
  }
}
